html, body {
	margin: 0;
	padding: 0;
}

main {
	max-width: 900px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}

.intro {
	padding: 0 10px;
}

.exercise-block {
	padding: 10px;
	border-radius: 5px;
	transition: background-color 1s;
	background-color: white;
	margin-bottom: 10px;
}

.exercise-block.win {
	background-color: #78de4e;
}

.exercise-row {
	display: flex;
}

.exercise-row pre {
	flex: 1 1 auto;
	margin: 5px;
	background: #23241f;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}

.exercise-row pre:first-child {
	margin-left: 0;
}

.exercise-row pre:last-child {
	margin-right: 0;
}

span.edit {
	padding: 3px 5px;
	background: rgba(255,255,255,0.1);
	border-radius: 3px;
}

.lang-title {
	color: white;
	opacity: 0.8;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-bottom: -1em;
}

.css-code:before {
	display: block;
	position: absolute;
	color: white;
	opacity: 0.2;
	top: 0.3em;
	left: 0.5em;
	content: "CSS";
}

.html-code:before {
	display: block;
	position: absolute;
	color: white;
	opacity: 0.2;
	top: 0.3em;
	left: 0.5em;
	content: "HTML";
}

.exercise-result:before {
	display: block;
	position: absolute;
	color: black;
	opacity: 0.2;
	top: 0.2em;
	left: 0.2em;
	/*font-family: monospace;*/
	font-size: 0.8em;
	content: "Результат";
}


.exercise-result {
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	background: rgba(255,255,255,0.2);
	position: relative;
}

@keyframes heartbeat {
	0% {
		color: white;
	}

	50% {
		color: tomato;
	}

	100% {
		color: white;
	}
}

.heart {
	animation-name: heartbeat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	/*transform: rotate(40deg);
	color: red;*/
	font-size: 1.2em;
}

.show * {
	display: block;
	padding: 5px;
	border: 1px solid currentColor;
}

.show article {
	color: aqua;
}
.show article:before {
	content: 'article';
}

.show em {
	color: bisque;
}
.show em:before {
	content: 'em';
}

.show p {
	color: tomato;
}
.show p:before {
	content: 'p';
}

.show strong {
	color: red;
}
.show strong:before {
	content: 'strong';
}

@media (max-width: 600px) {
	main {
		width: 100%;
		margin: 0;
		paddin: 10px;
	}
	.exercise-row {
		flex-direction: column;
	}
}